<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="color">{{color.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="color">
    <ion-list>
      <ion-item>
        <ion-label>
          Nombre:
        </ion-label>
        <ion-label>
          {{color.name}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Año:
        </ion-label>
        <ion-label>
          {{color.year}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Pantone:
        </ion-label>
        <ion-label>
          {{color.pantone_value}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Color:
        </ion-label>
        <ion-label>
          <div class="color-sample" [ngStyle]="{'background': color.color}"></div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
